<div class="all-wrapper">

    <div class="menu-block">
        
        <div class="menu-inner-w">
            
            <div class="logo">
                
                <a href="https://assistentesexual.com.br/">
                    <img src="../../../../assets/img/logo.png" alt="">
                </a>

            </div>

            <div class="menu-activated-on-hover menu-w">
                          
                <div class="os_menu">
                    <ul id="menu-side-menu" class="menu">
                        <li id='menu-item-2096' is_parent class=' menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children  
                        menu-item-2096'><a href="https://splove.com.br/acompanhantes-sao-paulo/">Pagina Inicial</a>
                        </li>

                        <li id='menu-item-25226' is_parent class=' menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children  menu-item-25226'><a href="https://splove.com.br/acompanhante/">Serviços</a>
                            <ul class="sub-menu">
                                <li id='menu-item-14279' is_child class='submenu' (click)="goToCuidadores()"><a>Cuidador</a></li>
                                <li id='menu-item-14278' is_child class='submenu'><a href="https://splove.com.br/acompanhantes-morenas/">Massagem</a></li>
                                <li id='menu-item-69261' is_child class='submenu'><a href="https://splove.com.br/acompanhantes-ruivas/">Assistente Sexual</a></li>
                                <li id='menu-item-44734' is_child class='submenu'><a href="https://splove.com.br/acompanhantes-orientais/">Acompanhante</a></li>
                                <li id='menu-item-42408' is_child class='submenu'><a href="https://splove.com.br/acompanhantes-negras/">Namoro Virtual</a></li>
                                <li id='menu-item-66328' is_child class='submenu'><a href="https://splove.com.br/todas/">Amigo Virtual</a></li>
                            </ul>
                        </li>

                        <li id='menu-item-74806' is_parent class=' menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children  menu-item-74806'>
                            
                            <a href="https://splove.com.br/categorias-sp-love/">Cadastro</a>
                            
                        </li>

                        <li id='menu-item-23087' is_parent class=' menu-item menu-item-type-post_type menu-item-object-page  menu-item-23087'><a href="https://splove.com.br/videos/">Vídeos</a></li>
                        <li id='menu-item-2109' is_parent class=' menu-item menu-item-type-post_type menu-item-object-page  menu-item-2109'><a href="https://splove.com.br/contato/">Contato</a></li>
                    </ul>
                </div>			
              
            </div>

            <div class="tnp tnp-subscription">

                <form method="post" action="" onsubmit="">
                    <input type="hidden" name="nlang" value="">

                    <div class="tnp-field tnp-field-email">
                        <table>
                            <tr>
                            <th><input class="tnp-email" type="email" placeholder="Receba novidades em seu e-mail" name="ne" required></th>
                            <th><input class="tnp-submit" type="submit" value="INSCREVER"></th>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

