<div class="all-wrapper">

    <div class="menu-block">
        
        <div class="menu-inner-w">
            
            <div class="logo">
                
                <a href="https://assistentesexual.com.br/">
                    <img src="../../../../assets/img/logo.png" alt="">
                </a>

            </div>

            <div class="menu-activated-on-hover menu-w">
                          
                <nav>
                    
                    <ul class="menu" [ngClass]="{'open': isMenuOpen}">
                      <li class="dropdown">
                        <a routerLink="/servicos">Serviços</a>
                        <ul class="submenu">
                          <li><a routerLink="/servicos/cuidador">Cuidador</a></li>
                          <li><a routerLink="/servicos/massagem">Massagem</a></li>
                          <li><a routerLink="/servicos/assistente-sexual">Assistente Sexual</a></li>
                          <li><a routerLink="/servicos/acompanhante">Acompanhante</a></li>
                          <li><a routerLink="/servicos/namoro-virtual">Namoro Virtual</a></li>
                          <li><a routerLink="/servicos/amigo-virtual">Amigo Virtual</a></li>
                        </ul>
                      </li>
                      <li><a routerLink="/videos">Vídeos</a></li>
                      <li><a routerLink="/contato">Contato</a></li>
                    </ul>
                </nav>
              
            </div>
          
                <div class="tnp tnp-subscription" >

                    <form method="post" action="" onsubmit="">
                        <input type="hidden" name="nlang" value="">

                        <div class="tnp-field tnp-field-email">
                            <table>
                                <tr>
                                <th><input class="tnp-email" type="email" placeholder="Receba novidades em seu e-mail" name="ne" required></th>
                                <th><input class="tnp-submit" type="submit" value="INSCREVER"></th>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>

                <div class="menu-icon" (click)="toggleMenu()">
                    <i class="fas fa-bars"></i>
                </div>
            
        </div>
    </div>
</div>

