<div class="ultimas-noticias">
    <div class="card-news ">
        <div class="color-segundary zh-d-flex">
            <a href="#"><img src="http://direito.folha.uol.com.br/uploads/2/9/6/2/2962839/9610206_orig.png" alt="Deficientes encaram estigma do sexo"></a>
            <div class="zh-d-flex zh-flex-c card-text">
                <a href="#" class="color-segundary">
                    <span class="zh-fs-16 color-primary">devoteismo</span>
                    <h2 class="zh-fs-24">TSE decide proibir o porte de armas nas seções eleitorais</h2>
                    <p class="zh-fs-14 zh-lh-24">Só poderá se aproximar com arma a menos de 100 metros de uma seção o policial que for convocado por uma autoridade eleitoral.</p>
                </a>   
            </div>
        </div>
    </div>

    <div class="card-news ">
        <div class="color-segundary zh-d-flex">
            <a href="#"><img src="http://direito.folha.uol.com.br/uploads/2/9/6/2/2962839/9610206_orig.png"
                    alt="Deficientes encaram estigma do sexo"></a>
            <div class="zh-d-flex zh-flex-c card-text">
                <a href="#" class="color-segundary">
                    <span class="zh-fs-16 color-primary">devoteismo</span>
                    <h2 class="zh-fs-24">TSE decide proibir o porte de armas nas seções eleitorais</h2>
                    <p class="zh-fs-14 zh-lh-24">Só poderá se aproximar com arma a menos de 100 metros de uma seção o
                        policial que for convocado por uma autoridade eleitoral.</p>
                </a>
            </div>
        </div>
    </div>

    <div class="card-news ">
        <div class="color-segundary zh-d-flex">
            <a href="#"><img src="http://direito.folha.uol.com.br/uploads/2/9/6/2/2962839/9610206_orig.png"
                    alt="Deficientes encaram estigma do sexo"></a>
            <div class="zh-d-flex zh-flex-c card-text">
                <a href="#" class="color-segundary">
                    <span class="zh-fs-16 color-primary">devoteismo</span>
                    <h2 class="zh-fs-24">TSE decide proibir o porte de armas nas seções eleitorais</h2>
                    <p class="zh-fs-14 zh-lh-24">Só poderá se aproximar com arma a menos de 100 metros de uma seção o
                        policial que for convocado por uma autoridade eleitoral.</p>
                </a>
            </div>
        </div>
    </div>

    <div class="card-news ">
        <div class="color-segundary zh-d-flex">
            <a href="#"><img src="http://direito.folha.uol.com.br/uploads/2/9/6/2/2962839/9610206_orig.png"
                    alt="Deficientes encaram estigma do sexo"></a>
            <div class="zh-d-flex zh-flex-c card-text">
                <a href="#" class="color-segundary">
                    <span class="zh-fs-16 color-primary">devoteismo</span>
                    <h2 class="zh-fs-24">TSE decide proibir o porte de armas nas seções eleitorais</h2>
                    <p class="zh-fs-14 zh-lh-24">Só poderá se aproximar com arma a menos de 100 metros de uma seção o
                        policial que for convocado por uma autoridade eleitoral.</p>
                </a>
            </div>
        </div>
    </div>

    <div class="card-news ">
        <div class="color-segundary zh-d-flex">
            <a href="#"><img src="http://direito.folha.uol.com.br/uploads/2/9/6/2/2962839/9610206_orig.png"
                    alt="Deficientes encaram estigma do sexo"></a>
            <div class="zh-d-flex zh-flex-c card-text">
                <a href="#" class="color-segundary">
                    <span class="zh-fs-16 color-primary">devoteismo</span>
                    <h2 class="zh-fs-24">TSE decide proibir o porte de armas nas seções eleitorais</h2>
                    <p class="zh-fs-14 zh-lh-24">Só poderá se aproximar com arma a menos de 100 metros de uma seção o
                        policial que for convocado por uma autoridade eleitoral.</p>
                </a>
            </div>
        </div>
    </div>

    <div class="card-news ">
        <div class="color-segundary zh-d-flex">
            <a href="#"><img src="http://direito.folha.uol.com.br/uploads/2/9/6/2/2962839/9610206_orig.png"
                    alt="Deficientes encaram estigma do sexo"></a>
            <div class="zh-d-flex zh-flex-c card-text">
                <a href="#" class="color-segundary">
                    <span class="zh-fs-16 color-primary">devoteismo</span>
                    <h2 class="zh-fs-24">TSE decide proibir o porte de armas nas seções eleitorais</h2>
                    <p class="zh-fs-14 zh-lh-24">Só poderá se aproximar com arma a menos de 100 metros de uma seção o
                        policial que for convocado por uma autoridade eleitoral.</p>
                </a>
            </div>
        </div>
    </div>

    <div class="card-news ">
        <div class="color-segundary zh-d-flex">
            <a href="#"><img src="http://direito.folha.uol.com.br/uploads/2/9/6/2/2962839/9610206_orig.png"
                    alt="Deficientes encaram estigma do sexo"></a>
            <div class="zh-d-flex zh-flex-c card-text">
                <a href="#" class="color-segundary">
                    <span class="zh-fs-16 color-primary">devoteismo</span>
                    <h2 class="zh-fs-24">TSE decide proibir o porte de armas nas seções eleitorais</h2>
                    <p class="zh-fs-14 zh-lh-24">Só poderá se aproximar com arma a menos de 100 metros de uma seção o
                        policial que for convocado por uma autoridade eleitoral.</p>
                </a>
            </div>
        </div>
    </div>

    <div class="card-news ">
        <div class="color-segundary zh-d-flex">
            <a href="#"><img src="http://direito.folha.uol.com.br/uploads/2/9/6/2/2962839/9610206_orig.png"
                    alt="Deficientes encaram estigma do sexo"></a>
            <div class="zh-d-flex zh-flex-c card-text">
                <a href="#" class="color-segundary">
                    <span class="zh-fs-16 color-primary">devoteismo</span>
                    <h2 class="zh-fs-24">TSE decide proibir o porte de armas nas seções eleitorais</h2>
                    <p class="zh-fs-14 zh-lh-24">Só poderá se aproximar com arma a menos de 100 metros de uma seção o
                        policial que for convocado por uma autoridade eleitoral.</p>
                </a>
            </div>
        </div>
    </div>

    <div class="card-news ">
        <div class="color-segundary zh-d-flex">
            <a href="#"><img src="http://direito.folha.uol.com.br/uploads/2/9/6/2/2962839/9610206_orig.png"
                    alt="Deficientes encaram estigma do sexo"></a>
            <div class="zh-d-flex zh-flex-c card-text">
                <a href="#" class="color-segundary">
                    <span class="zh-fs-16 color-primary">devoteismo</span>
                    <h2 class="zh-fs-24">TSE decide proibir o porte de armas nas seções eleitorais</h2>
                    <p class="zh-fs-14 zh-lh-24">Só poderá se aproximar com arma a menos de 100 metros de uma seção o
                        policial que for convocado por uma autoridade eleitoral.</p>
                </a>
            </div>
        </div>
    </div>
    
</div>