<div class="mais-lidas">
    <div class="title">
        <h2 class="color-primary zh-fs-18">Mais Lidas</h2>
    </div>
    <div class="">
        <ol class="color-segundary">
            <section class="">
                <a href="color-segundary">
                    <li class="">
                        <span class="color-segundary">
                            Como paródia de 'Baile de favela' virou hino contra esquerda e viralizou em perfis
                            pró-Bolsonaro no TikTok?
                        </span>
                    </li>
                </a>
            </section>
            <section class="">
                <a href="color-segundary">
                    <li class="">
                        <span class="color-segundary">
                            Como paródia de 'Baile de favela' virou hino contra esquerda e viralizou em perfis
                            pró-Bolsonaro no TikTok?
                        </span>
                    </li>
                </a>
            </section>
            <section class="">
                <a href="color-segundary">
                    <li class="">
                        <span class="color-segundary">
                            Como paródia de 'Baile de favela' virou hino contra esquerda e viralizou em perfis
                            pró-Bolsonaro no TikTok?
                        </span>
                    </li>
                </a>
            </section>
            <section class="">
                <a href="color-segundary">
                    <li class="">
                        <span class="color-segundary">
                            Como paródia de 'Baile de favela' virou hino contra esquerda e viralizou em perfis
                            pró-Bolsonaro no TikTok?
                        </span>
                    </li>
                </a>
            </section>
            <section class="">
                <a href="color-segundary">
                    <li class="">
                        <span class="color-segundary">
                            Como paródia de 'Baile de favela' virou hino contra esquerda e viralizou em perfis
                            pró-Bolsonaro no TikTok?
                        </span>
                    </li>
                </a>
            </section>
        </ol>
    </div>
</div>
