/* You can add global styles to this file, and also import other style files */
@import 'app/shared/utils/color.scss';
@import 'app/shared/utils/helper.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}